<div class="containerH">
  <a href="/logout"><button class="logout">Log Out</button></a>
</div>

<div class="containerH">
  <h3>Hi, {{username}}!</h3>
</div>

<div class="containerH">
  <form method="post" action="/search">
    <input type="text" name="query" placeholder="What's your band name?" />
    <br /> 
</div>

<div class="containerH">
  <button>Try it!</button>
  </form> 
</div>

<div class="containerH">
  <a href="/search/userHistory">view previous searches</a> 
</div>

<br />

<div class="containerH">
  <a href="/logout"><button class="logoutB">Log Out</button></a>
</div>

<br /> 
