<div class="containerH">
  <a href="/logout"><button class="logout">Log Out</button></a>
</div>

<div class="containerH">
  <h2>Your Previous Searches</h2>
</div>

<div class="searchesH">
  <div class="containerV">
    <h3> Already Taken </h3>
    <ul id="foundSearches"></ul>
  </div>
  <div class="containerV">
    <h3> Still Available </h3>
    <ul id="notFoundSearches"></ul>
  </div>
</div>

<div class="containerH">
  <a href="/search">search again</a> 
</div>

<br />

<div class="containerH">
  <a href="/logout"><button class="logoutB">Log Out</button></a>
</div>

<br /> 

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/js/main.js"></script>
