#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
#floatyholder {
  width: 100%;
  position: fixed;
  z-index: -10;
}
#floaty {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  text-align: center;
  z-index: -10;
  background-color: rgba(251, 148, 189, 0.6);
}
.north {
  height: 5%;
  height: 40px;
  min-height: 30px;
  background: #4e4e4e;
  width: 100%;
  z-index: 100000;
  display: fixed;
  top: 0;
}
h1 {
  font-family: 'Roboto Mono', monospace;
  color: #fafafa;
  margin: 0;
}
#lat1,
#long1 {
  display: none;
}
.two {
  background: rgba(91, 214, 191, 0.82);
  float: right;
  display: none;
}
#fakeSubmit {
  background-color: white;
  border-radius: 10%;
  display: inline-block;
  padding: 10px;
}
.containerH,
.searchesH {
  display: flex;
  margin-top: 20px;
  flex-grow: 1;
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
  text-align: center;
}
.containerV {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0px 30px 0px 30px;
}
header {
  margin: 0;
}
input {
  margin-top: 20px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"] {
  outline: none;
  background-color: rgba(60, 60, 60, 0.65);
}
button {
  width: 100px;
  height: 33px;
  border-radius: 33px;
  background-color: #319c8a;
  border: none;
  font-family: 'Cutive Mono', monospace;
  font-size: 16px;
}
button:hover {
  background-color: #38b6a0;
}
button:focus {
  outline: none;
}
button:active {
  outline: none;
  background-color: #319c8a;
}
.logout {
  position: absolute;
  right: 30px;
  top: 55px;
}
.logoutB {
  visibility: hidden;
}
input:first-child {
  margin-top: 0;
}
.containerV h3 {
  margin: 0;
}
@media (max-width: 700px) {
  .containerH {
    margin-left: 10%;
    margin-right: 10%;
  }
  .searchesH {
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 320px;
    height: 40px;
  }
  button {
    width: 90px;
    height: 23px;
  }
  .logout {
    visibility: hidden;
  }
  .logoutB {
    visibility: visible;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
