<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>

    <div class="two">
      <div id="foundSearches"></div>
    </div>

    <div id="floaty">
      <h1>Add parking spot</h1>
      <iframe name="votar" style="display:none;"></iframe>  <!-- https://stackoverflow.com/questions/2866063/submit-form-without-page-reloading -->
      <form action="/" method="post" target="votar" > <!-- target="votar" -->  
        <!-- NOTE TO SELF: This wasn't working for a while because you were sending the action to /getAll. If you had the POST in the controller set to GetAll it would work. OR if you did what you did and set the action to this page, it works. The action here and the POST in the controller just need to match up.-->


        <input type="text" name="goodOr">     
        <input id="submit" type="submit" onclick="submission()">
      </form>
    </div>
    <div id="map"></div>


