<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <div class="north">
      <div class="lc">
        <h1>Jitenshark</h1>
      </div>

      <div class="rc">
        <nav>
          <p>about</p>
          <p>lang</p>
          <p>login</p>
        </nav>
      </div>
    </div>

    <div class="two">
      <div id="foundSearches"></div>
    </div>

    <form action="/" method="post" target ="votar" id="invisible">

    </form>
  <div id="floatyholder">
    <div id="floaty">
      <h1>Add parking spot</h1>
      <iframe name="votar" style="display:none;"></iframe>  <!-- https://stackoverflow.com/questions/2866063/submit-form-without-page-reloading -->
      <form action="/" method="post" target="votar" >
        <input type="text" id="long1" name="long1">
        <input type="text" id="lat1" name="lat1">
        <input type="text" name="goodOr">     
        <input id="submit" type="submit" onclick="submission()">
      </form>
    </div>
  </div>
    <div id="map"></div>


